<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<div class="container">
		<h1
			class="text-gray-dark border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<form th:action="@{/aseguradora/form}" th:object="${aseguradora}"
			method="post">


			<input type="hidden" th:field="*{id}" />

			<div class="form-group row">
				<label class="col-sm-2 form-col-label">Nombre</label>
				<div class="col-sm-6 ">
					<input type="text" th:field="*{nombre}" class="form-control" th:errorclass="alert-danger"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"> </small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 form-col-label">RFC</label>
				<div class="col-sm-6 ">
					<input type="text" th:field="*{RFC}" class="form-control" th:errorClass="alert-danger" />
					<small class="form-text text-danger" th:if="${#fields.hasErrors('RFC')}" th:errors="*{RFC}"> </small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 form-col-label">Razon Social</label>
				<div class="col-sm-6 ">
					<input type="text" th:field="*{razonSocial}" class="form-control" th:errorClass="alert-danger"/>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}"> </small>
				</div>
			</div>

			<div class="form-group row">

				<div class="col-sm-6 ">

					<input type="submit"
						value="Crear Aseguradora" />
				</div>
			</div>

		</form>
	</div>
</body>
</html>