<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="HTML/index :: head">
</head>
<body>
	<header th:replace="HTML/index :: header"></header>
	<sidebar th:replace="HTML/index :: sidebar"></sidebar>

	<div id="content">
		<div th:replace="HTML/index :: content-header"></div>
		<div class="container-fluid">
		<hr>
		<div th:replace="HTML/index :: messages"></div>
			<a th:href="@{form}" class="btn btn-success">Agregar Aseguradora</a>
			<div class="row-fluid">
				<div class="span12">

					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"><i class="icon-th"></i></span>
							<h5 th:text="${titulo}">Data table</h5>
						</div>
						<div class="widget-content nopadding">

							<table class="table table-bordered data-table dataTable">
								<thead>
									<tr>
										<th></th>
<!-- 										<th>id</th> -->
										<th>nombre</th>
										<th>RFC</th>
										<th>razon Social</th>
										<th>eliminar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="aseguradora:${lista}">
									<td><a class="icon-edit"
											th:href="@{/aseguradora/edit/}+${aseguradora.id}"
											th:text="editar"></a></td>
<!-- 										<td th:text="${aseguradora.id}"></td> -->
										<td th:text="${aseguradora.nombre}"></td>
										<td th:text="${aseguradora.RFC}"></td>
										<td th:text="${aseguradora.razonSocial}"></td>
										
										<td><a class="btn btn-danger btn-xs"
											th:href="@{/aseguradora/eliminar/}+${aseguradora.id}"
											th:text="eliminar"></a></td>
									</tr>
								</tbody>
							</table>
							<nav th:replace="HTML/util/paginador-nav :: paginador"></nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="HTML/index :: footer"></footer>
</body>
</html>