<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="HTML/index :: head">
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<header th:replace="HTML/index :: header"></header>
	<sidebar th:replace="HTML/index :: sidebar"></sidebar>
	<div id="content">
		<div th:replace="HTML/index :: content-header"></div>


		<div class="container-fluid">
			<hr>
			<div class="row-fluid">
				<div class="span4">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"> <i class="icon-align-justify"></i>
							</span>
							<h5 th:text="${titulo1}">Personal-info</h5>
						</div>
						<div class="widget-content nopadding">

							<form class="form-horizontal" th:action="@{/ticket/save}"
								th:object="${modelObject}" method="post">
								<input type="hidden" th:field="*{id}" />
								<div class="control-group"
									th:class="${#fields.hasErrors('aseguradora')? 'control-group error' : 'control-group'}">
									<label class="control-label" for="buscarAseguradora">Aseguradora</label>
									<div class="controls">
										<input type="hidden" th:field="*{aseguradora}" /> <input
											type="text" name="buscarAseguradora" id="buscarAseguradora"
											th:value="${nombreAseguradora}" class="span11" /> <small
											class="help-inline"
											th:if="${#fields.hasErrors('aseguradora')}"
											th:errors="*{aseguradora}"> </small>
									</div>
								</div>


								<div class="control-group"
									th:class="${#fields.hasErrors('numeroSiniestro')? 'control-group error' : 'control-group'}">
									<label class="control-label">Numero Siniestro</label>
									<div class="controls">
										<input type="text" th:field="*{numeroSiniestro}"
											class="span11" /> <small class="help-inline"
											th:if="${#fields.hasErrors('numeroSiniestro')}"
											th:errors="*{numeroSiniestro}"> </small>
									</div>
								</div>
								<div class="control-group"
									th:class="${#fields.hasErrors('asegurado')? 'control-group error' : 'control-group'}">
									<label class="control-label">Asegurado</label>
									<div class="controls">
										<input type="text" th:field="*{asegurado}" class="span11">
										<small class="help-inline"
											th:if="${#fields.hasErrors('asegurado')}"
											th:errors="*{asegurado}"> </small>
									</div>
								</div>
								<div class="control-group"
									th:class="${#fields.hasErrors('telefonoContacto')? 'control-group error' : 'control-group'}">
									<label class="control-label">Telefono Contacto</label>
									<div class="controls">
										<input type="text" th:field="*{telefonoContacto}"
											class="span11"> <small class="help-inline"
											th:if="${#fields.hasErrors('telefonoContacto')}"
											th:errors="*{telefonoContacto}"> </small>
									</div>
								</div>

								<div class="control-group"
									th:class="${#fields.hasErrors('poliza')? 'control-group error' : 'control-group'}">
									<label class="control-label">Poliza</label>
									<div class="controls">
										<input type="text" th:field="*{poliza}" class="span11">
										<small class="help-inline"
											th:if="${#fields.hasErrors('poliza')}" th:errors="*{poliza}">
										</small>
									</div>
								</div>

								<div class="control-group"
									th:class="${#fields.hasErrors('inciso')? 'control-group error' : 'control-group'}">
									<label class="control-label">Inciso</label>
									<div class="controls">
										<input type="text" th:field="*{inciso}" class="span11">
										<small class="help-inline"
											th:if="${#fields.hasErrors('inciso')}" th:errors="*{inciso}">
										</small>
									</div>
								</div>
								<div class="control-group">

									<div class="controls">

										<input class="btn btn-success" type="submit"
											value="Crear Aseguradora" />
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>

				<div th:if="${modelObject.id}" class="span7">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon"> <i class="icon-align-justify"></i></span>
							<h5 th:text="${titulo2}">Personal-info</h5>
							<a href="#myModal" data-toggle="modal"
								class="btn btn-success element-right">AGREGAR TAREA</a>
						</div>
						<div class="widget-content">
							<div th:each="tarea : ${tareas}">
								<div class="accordion" id="collapse-group">
									<div class="accordion-group widget-box">
										<div class="accordion-heading">
											<div class="widget-title">
												<a data-parent="#collapse-group" th:href="@{#collapseG}+${tarea.id}"  data-toggle="collapse"> <span
													class="icon"><i class="icon-ok"></i></span>
													<h5 th:text="${tarea.nombreTarea}">Accordion option1</h5>
												</a>
											</div>
										</div>
										<div class="accordion-body collapse"
											th:id="@{collapseG}+${tarea.id}">
											<div class="widget-content">
												<span th:text="${tarea.descripcion}"></span>
											</div>
										</div>
									</div>


								</div>
							</div>




						</div>
					</div>


					<div id="myModal" class="modal hide">
						<div class="modal-header">
							<button data-dismiss="modal" class="close" type="button">×</button>
							<h3>Agregar Tarea</h3>
						</div>
						<div class="modal-body">
							<form id="formTarea" class="form-horizontal">
								
								<div class="control-group">
									<label class="control-label">Nombre</label>
									<div  class="controls">
										<input id="nombreTarea" name="nombreTarea"type="text"  class="span11" /> 
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label">Numero de Tarea</label>
									<div class="controls">
<!-- 										<input type="text"  class="span11" />  -->
											<select name="secuencia" id="secuencia">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label">Descripcion</label>
									<div class="controls">
										<textarea name="descripcion" id="descripcion" 	 class="span11"> </textarea>
									</div>
								</div>
								
								

							</form>
							
							
							
						</div>
						<div class="modal-footer">
							<a data-dismiss="modal" class="btn btn-success"
								onclick="guardarTarea();" href="#">Agregar</a>
							<a data-dismiss="modal" class="btn" href="#">Cancel</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
	<footer th:replace="HTML/index :: footer"></footer>
	<script type="text/javascript"
		th:replace="HTML/util/autocomplete :: javascript"></script>
<script type="text/javascript">
function guardarTarea(){
	var tarea = $('#formTarea').serialize();
	tarea = tarea+"&idTicket="+$('#id').val();
		

	
	$.ajax({
        type: "POST",
        url: "/ticket/addTarea",
        data: tarea,
        success: function(data) {

        }
    });
}
</script>
</body>
</html>